/* FONT */
$font-Nanum: "NanumGothic";

/* COLOR */
$link-blue: #3e94c9;
$link-gray: #4c4c4c;

$text-gray: #686868;
$text-gray-light: #a8a8a8;
$text-white-gray: #7e7e7e;

/* BORDER */
$border-gray: #d8d8d8;

/* BACKGROUND */
$bg-gray: #fafafa;
$bg-blue-box: #ecf8ff;
$bg-blue-gradient: linear-gradient(65.28deg, #3e94c9 32.26%, #44b2e8 133.14%);
$bg-footer: #0b2f47;

/* SIZE */
$conatiner_max: 1440px;

/* SHADOW */
$shadow-mini: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$shadow-btnblue: 0px 0 20px rgba($link-blue, 0.6);
